.cls-1 {
    isolation: isolate;
}

.cls-2 {
    mask: url(#mask);
}

.cls-10,
.cls-3,
.cls-7 {
    mix-blend-mode: multiply;
}

.cls-3 {
    fill: url(#radial-gradient);
}

.cls-4 {
    fill: #fff;
}

.cls-5 {
    fill: #ededed;
}

.cls-6 {
    mask: url(#mask-2);
}

.cls-7 {
    opacity: 0.48;
    fill: url(#radial-gradient-2);
}

.cls-10,
.cls-8 {
    fill: #255f6b;
}

.cls-9 {
    fill: #81aab5;
}

.cls-10 {
    opacity: 0.13;
}

.cls-11,
.cls-12 {
    fill: #6cc;
}

.cls-11 {
    stroke: #6cc;
    stroke-miterlimit: 10;
    stroke-width: 0.34px;
}

.cls-13 {
    fill: #c2ebeb;
}

.cls-14 {
    filter: url(#luminosity-noclip-2);
}

.cls-15 {
    filter: url(#luminosity-noclip);
}