/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/* =============================================================
   GENERAL STYLES
 ============================================================ */

@font-face {
    font-family: 'Comic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/comicneue/ComicNeue-Angular-Regular.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Comic';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/comicneue/ComicNeue-Angular-Bold.ttf');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Comic';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/comicneue/ComicNeue-Angular-Light.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Comic';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/comicneue/ComicNeue-Angular-Regular-Oblique.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Comic';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/comicneue/ComicNeue-Angular-Bold-Oblique.ttf');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Comic';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/comicneue/ComicNeue-Angular-Light-Oblique.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Jungle Juice';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/junglejuice/Jungle-Juice.ttf');
    /* IE9 Compat Modes */
}


body {
    background: #000;
    color: #fff;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    /*line-height: 30px;*/
   /* background-image:  url("../img/jungle-book.jpg");
    background-size: contain;*/
}


h1 {
    font-family: 'Jungle Juice', 'Open Sans', sans-serif;
    margin-top: 100px;
    font-weight: 700;
    font-size: 60px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -1px;
    /*text-shadow: 2px 2px #ff0000;*/
}

h2 {
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #000;
    font-size: 60px;
    font-family: 'Jungle Juice', 'Open Sans', sans-serif;
}

h3 {
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}

section {
    padding-top: 30px;
    padding-bottom: 40px;
}

.just-pad {
    padding-bottom: 50px;
    padding-top: 80px;
}

p {
    font-size: 16px;
    letter-spacing: -0.7px;
    padding: 10px 0px;
}

#menu {
    background: #000;
}

.portion {
    margin-top: 90px;
  background-image:  url("../img/jungle-book.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
    background-repeat: no-repeat;
  text-align: center;
}




#intro {
   /* position: relative;*/
    /*min-height: 100vh;*/
    padding-bottom: 100px;
}
#intro h1 {
    padding: 80px 0 100px 0;
    font-size: 90px;
}
#intro p {
    font-weight: 400;
    font-size: 20px;
    color: #0D6B02;
    margin-bottom: 100px;
    
}

#story {
    padding: 0;
    background:  url("../img/jb-bg.jpg");
    background-attachment: fixed;
    color: #fff;
}
#story .overlay {
    padding: 70px 0;
    background: rgba(13, 107, 2, 0.8);
}
#story h2 {
    color: #DCC209;
}
#story p {
    margin: 20px 0;
    font-size: 18px;
}



#effects {
    padding: 0;
    color: #fff;
}
#effects h2 {
    padding-top: 20px;
    color: #DCC209;
}
#effects .inner {
    
    background:  url("../img/bg.jpg");
}
#effects .inner .overlay {
    padding: 50px 0;
    color: #000;
    background: rgba(220, 194, 9, 0.8);
    font-size: 18px;
    line-height: 26px;
}



.header-sec {
    margin-top: 0;
    min-height: 500px;
    padding-bottom: 60px;
    padding: 0;
    /*-webkit-background-size: cover;
    background-size: cover;*/
    color: #fff;
    background-attachment: fixed;
}

.header-sec .overlay {
    min-height: 500px;
    background: rgba(255, 255, 255, 0.30);
}

.header-sec h1 {
    color: #fff;
    padding-top: 250px;
}



.italic {
    font-style: italic;
}



.aside {
   
    background-attachment: fixed;
    background-size: 100%;
    color: #000;
    position: relative;
}
.aside .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.70);
}
.aside .italic {
    font-weight: 900;
    color: #cc0033;
    margin-right: 10px;
}




/*=====================================
  FOOTER STYLES 
    ===================================*/

.myfooter {
    background-color: #000;
    padding: 5px 40px 5px 40px;
    color: #fff;
    font-size: 14px;
    text-align: right;
}

@media screen and (min-width: 992px) {
   
}

@media screen and (max-width: 767px) {
    #logo.shift {
        width: 160px;
    }
    #menu.shrink {
        height: 50px;
    }
    #menu.shrink h1 {
        left: 175px;
        font-size: 20px;
    }
    h1 {
        font-size: 46px;
    }
    .header-sec,
    .header-sec .overlay {
        min-height: 100px;
    }
    .header-sec h1 {
        font-size: 30px;
        padding-top: 0px;
    }
    .header-sec h1 .subscript {
        font-size: 20px;
    }
   
}
